:root {
	--login-bg: #4c79e7;
	--login-font-color: #92b0f1;
	--login-protocol-color: #bbcff7;
	--login-white-color: #fff;
}
:root {
	--font-gray-color: #999;
	--font-black-color: #655f5f;
	--bg-gray-color: #f7f7f7;
	--bg-black-color: #f2f2f7;
	--font-blue-color: #4f77e6;
}
:root {
	--bg-gray2-color: #d1cfcf;
	--bg-blue2-color: #4f77e6;
	--font-white-color: #fff;
	--line-gray-color: #e0dfdf;
}
:root {
	--color-gray: #d4d2d2;
}
